<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
  </head>
  <body>
    <form method="POST" action="/product/add" enctype="multipart/form-data">
      <div class="brand">
        <label for="brand">Brand</label>
        <select name="brand" id="brand"></select>
      </div>
      <div class="title">
        <label for="title">Title</label>
        <input type="text" name="title" />
      </div>
      <div class="description">
        <label for="description">description</label>
        <input type="text" name="description" />
      </div>
      <div class="category">
        <label for="category">Category</label>
        <select name="category" id="category" required></select>
      </div>
      <div class="tag">
        <label for="tag">Tag</label>
        <input type="text" name="tag" />
      </div>
      <div class="extracategory">
        <label for="extraCategories">Extra Categories</label>
        <select name="extraCategories" id="extraCategories" required></select>
      </div>
      <div class="fields">
        <label for="fields">Required Fields</label>
        <div id="add_fields"></div>
        <button type="button" onClick="addfields()">Add</button>
      </div>

      <button type="submit">Save</button>
    </form>
    <script src="/scripts/Product/addProduct.js"></script>
  </body>
</html>
